@mixin espace {
    align-items: center;
    justify-content: center;
    display: flex;
}

@mixin espace-col {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

