* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    // background-color: aqua;
    color: white;
}

.jaunebrun {
    color: $jaunebrun;
}

.serif, h2 {
    font-weight: bold;
    color: $jaunebrun;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

// -----en tête-------------------------------------------

header {
    width: 100%;
    height: auto;
    background-position: center;
    object-fit: cover;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: fixed;
    z-index: 1000;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgba($color: #000000, $alpha: 0.7) ;
    border-bottom: gray solid 1px;
}

// couleur de toggler
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath fill="white" d="M0 0h30v4H0zm0 12h30v4H0zm0 12h30v4H0z"%3E%3C/path%3E%3C/svg%3E');
}

.bookatable {
    margin-top: 10px;
    color: white;
    background: transparent;
    border-radius: 30px;
    padding: 8px;
    padding-inline: 30px;
    border: $jaunebrun solid;
}

.bookatable:hover {
    transition: 0.3s;
    background-color: $jaunebrun;
}


// ----- Home -------------------------------------------

.home {
    gap: 10px;
}

.home {
    button {
        width: auto;
    }
}

@media (max-width:570px) {
    .home {
        display: flex !important; 
        align-items: center !important;
        justify-content: center !important;
    }
}

h2:nth-child(1) {
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    width: 100%;
    height: 43em;
    background-image: url(/public/img/hero-bg.jpg), linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
}

.play-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background: $jaunebrun;
    border-radius: 50%;
    border: solid 20px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    color: white; 
  }



  // ---- animation popup -------

.containertest a {
    text-decoration: none;
}

.play-btn {
    background-color: $jaunebrun;
    color: #fff;
    font-size: 5em;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    box-shadow:  0 0 5px $jaunebrun, 0 0 10px $jaunebrun;
    inset: 0 0 5px $jaunebrun;
    inset: 0 0 10px $jaunebrun;
    // overflow: hidden;
    cursor: pointer;


    // animation bouton play

    // &:hover i {
    //     animation: pulse 0.8s infinite ease-out;
    // }

    // &::before, 
    // &::after {
    //     content: '';
    //     position: absolute;
    //     border: 2px solid transparent;
    //     border-radius: 50%;
    //     opacity: 1;
    // }
}


.play-btn i{
    line-height: 150px;
    margin-left: 7px;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(8); 
    }
    100% {
        transform: scale(1);
    }
}


// animation pulse exterieur
.play-btn2::before, .play-btn::after {
    content: '';
    position: absolute;
    border: 5px solid $jaunebrun;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    opacity: 0;
    z-index: 100;
}


@keyframes animate {
    0% {
        transform: scale(0.5);

    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.3);

    }
}

// ----- About -------------------------------------------

.section2 {
    width: 100%;
    height: auto;
    background-image: url(/public/img/about-bg.jpg), linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width:992px) {
    .voluptetem>div {
        flex-direction: column-reverse!important;
    }
}

.iconcheck {
    color: $jaunebrun;
}

.img-container {
    position: relative;
}

.img-container:hover {
    .imgabout {
        transform: scale(1.10);
        transition: 0.5s;
    }
}

.img-container:hover {
    .flèche-haut, .flèche-bas {
        transform: scale(1.2);
        transition: 0.4s ease-in-out;
    }
}

.imgabout {
    transition: 0.5s;
}

.imgabout {
    width: 100%;
    // height: 23em
    height: auto;
    border: solid 5px gray;
}

.flèche-haut {
    // transform: scale(1.03);
    transition: 0.5s;
    padding: 3rem;
    z-index: 2;
    border-left: 0.3rem solid;
    border-top: 0.3rem solid;
    width: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    border-color: $jaunebrun;
}

.flèche-bas {
    // transform: scale(1.03);
    transition:  0.5s;
    padding: 3rem;
    z-index: 2;
    border-bottom: 0.3rem solid;
    border-right: 0.3rem solid;
    width: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    border-color: $jaunebrun;
}

// ----- Why Us --------------------

.section2-2 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.line {
    height: 1px;
    background-color: #9c9c9c; /* Couleur gris clair */
    width: 100px; /* Largeur personnalisée pour la ligne */
}

.whyus1 {
    width: 100%;
    margin: auto;
}

.whyus2 {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: rgb(43, 43, 43);
    padding-top: 50px;
}
h3:nth-of-type(2) {
    font-family: $serif;
    font-weight: bold;
}

.whyus2:hover {
    padding-top: 30px;
    background-color: $jaunebrun;
    .chiffreblanc {
        color: white;
    }
}

.chiffreblanc {
    font-family: $serif;
    font-size: 35px;
}

// ----- Menu -------------------------------------------

.section3 {
    width: 100%;
    height: auto;
}

.navmenu {
    font-family: $serif;
    color: white;
    font-weight: bold;
}

.navmenu:hover {
    color: $jaunebrun; /* Texte blanc */
  }
  
  .navmenu.active {
    color: $jaunebrun; /* Texte blanc */
  }


.imgmenu {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: gray solid 4px;
}

.listemenu {
    width: 100%;
}

.nommenu {
    font-weight: bold;
}

.dott {
    vertical-align: bottom;
    background-image: radial-gradient(circle closest-side, #555555 90%, transparent 1%);
    background-size: 3px 2px;
    background-repeat: repeat-x;
    background-position: left 90%;
    flex-grow: 2;
}

.menuprix {
    color: $jaunebrun;
    font-weight: bold;
}

.descpriptionmenu {
    font-style: italic;
    color: gray;
}

// ----- Events - caroussel -------------------------------------------

.section4 {
    width: 100%;
    height: auto;
    background-image: url(/public/img/events-bg.jpg), linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-position: center;
}

.section4-2 { // events //
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.carousel-indicators {
    bottom: -50px;
    gap: 10px;
    button {
        background-color: $jaunebrun !important;
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
    }

}


// ------- reservation --------------------------------- 

.inputreserve {
    padding: 3px;
    width: 100%;
    border: 1.5px solid $jaunebrun;
    background: transparent;
    margin: 10px;
}   

#Reservation {
    height: 100%;
}

.bookatablereserve {
    background-color: $jaunebrun;
    color: white;
    border-radius: 50px;
    padding: 7px;
    padding-inline: 18px;
    border: none;
}

// ----- Gallery -------------------------------------------

.section5 {
    width: 100%;
    height: auto;
}

.gallery {
    margin-inline: 1px;
}

.galleryimg {
    border-bottom: 3px gray solid;
    border-right: 3px gray solid;
    transition: 0.5s;
    overflow: hidden;
}
.galleryimg2 {
    transform: scale(1.10);
}

.galleryimg2:hover {
    transform: scale(1.20);
    transition: 0.5s;
}

// ----- Chefs -------------------------------------------

.section6 {
    width: 100%;
    height: 100%;
}

// ----- Contact -------------------------------------------

.section7 {
    width: 100%;
    height: auto;
}

.map-container iframe {
    width: 100%;
    height: 20em;
}

.contactbis {
    margin-right: auto;
} 

.contact2 {
    margin: auto;
}

.iconecontact {
    text-align: center;
    background-color: $jaunebrun;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding-top: 6px;
    margin-bottom: 10px;
}

.contactparti1-col1 {
    font-family: $serif;
}

.contactparti1-col1 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.iconecontact2 {
    text-align: center;
    background-color: rgb(51, 51, 51);
    width: 35px;
    height: 35px;
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 10px;
}

#Inputreserve {
    padding-top: 30px;
}

.chevronright {
    color: $jaunebrun;
}

.input-group {
}

.subscribe {
    background-color: $jaunebrun;
    color: white;
    border-radius: 50px;
    padding: 7px;
    padding-inline: 18px;
    border: none;
}

.subscribeinput {
    background-color: #1e1a17;
    border: 1px solid #4e361a;
    border-radius: 30px 0px 0px 30px;
    margin-right: -20px;
}


.arrow-up a {
    font-size: 50px;
    color: $jaunebrun;
    position: fixed;
    top: 12em;
    left: 26.5em;
    z-index: 1000;
}
