* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    // background-color: aqua;
    color: white;
}

.jaunebrun {
    color: $jaunebrun;
}

.serif, h2 {
    font-family: $serif;
    font-weight: bold;
    color: $jaunebrun;
}

// -----en tête-------------------------------------------
header {
    width: 100%;
    height: auto;
    background-position: center;
    object-fit: cover;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: fixed;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgba($color: #000000, $alpha: 0.7) ;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: gray solid 1px;
}



.bookatable {
    color: white;
    background: transparent;
    border-radius: 30px;
    padding: 5px;
    border: $jaunebrun solid;
}

.bookatable:hover {
    transition: 0.3s;
    background-color: $jaunebrun;
}

.popup {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $jaunebrun;
}

// ----- Home -------------------------------------------

h2:nth-of-type(1) {
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    width: 100%;
    height: 43em;
    background-image: url(/public/img/hero-bg.jpg), linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
}


// ----- About -------------------------------------------

.section2 {
    width: 100%;
    height: auto;
    background-image: url(/public/img/about-bg.jpg), linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
}

.iconcheck {
    color: $jaunebrun;
}

.img-container {
    position: relative;
}

.img-container:hover {
    .imgabout {
        transform: scale(1.10);
        transition: 0.5s;
    }
}

.img-container:hover {
    .flèche-haut, .flèche-bas {
        transform: scale(1.2);
        transition: 0.4s ease-in-out;
    }
}

.imgabout {
    transition: 0.5s;
}

.imgabout {
    width: 100%;
    // height: 23em
    height: auto;
    border: solid 5px gray;
}

.flèche-haut {
    // transform: scale(1.03);
    transition: 0.5s;
    padding: 3rem;
    z-index: 2;
    border-left: 0.3rem solid;
    border-top: 0.3rem solid;
    width: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    border-color: $jaunebrun;
}

.flèche-bas {
    // transform: scale(1.03);
    transition:  0.5s;
    padding: 3rem;
    z-index: 2;
    border-bottom: 0.3rem solid;
    border-right: 0.3rem solid;
    width: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    border-color: $jaunebrun;
}

// ----- Why Us --------------------

.section2-2 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.whyus1 {
    width: 100%;
    margin: auto;
}

.whyus2 {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: rgb(43, 43, 43);
    padding-top: 50px;
}
h3:nth-of-type(2) {
    font-family: $serif;
    font-weight: bold;
}

.whyus2:hover {
    padding-top: 30px;
    background-color: $jaunebrun;
    .chiffreblanc {
        color: white;
    }
}

.chiffreblanc {
    font-family: $serif;
    font-size: 35px;
}

// ----- Menu -------------------------------------------

.section3 {
    width: 100%;
    height: auto;
}

.navmenu {
    font-family: $serif;
    color: white;
    font-weight: bold;
}

.navmenu:hover {
    color: $jaunebrun; /* Texte blanc */
  }
  
  .navmenu.active {
    color: $jaunebrun; /* Texte blanc */
  }


.imgmenu {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: gray solid 4px;
}

.listemenu {
    width: 100%;
}

.nommenu {
    font-weight: bold;
}

.dott {
    vertical-align: bottom;
    background-image: radial-gradient(circle closest-side, #555555 90%, transparent 1%);
    background-size: 3px 2px;
    background-repeat: repeat-x;
    background-position: left 90%;
    flex-grow: 2;
}

.menuprix {
    color: $jaunebrun;
    font-weight: bold;
}

.descpriptionmenu {
    font-style: italic;
    color: gray;
}

// ----- Events - caroussel -------------------------------------------

.section4 {
    width: 100%;
    height: auto;
    background-image: url(/public/img/events-bg.jpg), linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-position: center;
}

.section4-2 { // events //
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.carouselimg {

}

// ------- reservation --------------------------------- 

.inputreserve {
    padding: 3px;
    width: 100%;
    border: 1.5px solid $jaunebrun;
    background: transparent;
    margin: 10px;
}   

#Reservation {
    height: 100%;
}

.bookatablereserve {
    background-color: $jaunebrun;
    color: white;
    border-radius: 50px;
    padding: 7px;
    padding-inline: 18px;
    border: none;
}

// ----- Gallery -------------------------------------------

.section5 {
    width: 100%;
    height: auto;
}

.gallery {
    // display: flex;
    // flex-wrap: wrap;
}

.galleryimg {
    // border-bottom: 2px gray solid;
    // border-right: 2px gray solid
    border: gray 2px solid;
    transition: 0.5s;
    overflow: hidden;
}
.galleryimg2 {
}

.galleryimg2:hover {
    transform: scale(1.10);
    transition: 0.5s;
}

// ----- Chefs -------------------------------------------

.section6 {
    width: 100%;
    height: 100%;
}

// ----- Contact -------------------------------------------

.section7 {
    width: 100%;
    height: auto;
}

.cartegoogle {
    width: 100px;
}

.contactbis {
    margin-right: auto;
} 

.iconecontact {
    text-align: center;
    background-color: $jaunebrun;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding-top: 6px;
    margin-bottom: 10px;
}

.contactparti1-col1 {
    font-family: $serif;
}

.contactparti1-col1 h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.iconecontact2 {
    text-align: center;
    background-color: rgb(51, 51, 51);
    width: 35px;
    height: 35px;
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 10px;
}

#Inputreserve {
    padding-top: 30px;
}

.chevronright {
    color: $jaunebrun;
}


.subscribe {
    background-color: $jaunebrun;
    color: white;
    border-radius: 50px;
    padding: 7px;
    padding-inline: 18px;
    border: none;
}

.arrow-up a {
    font-size: 50px;
    color: $jaunebrun;
    position: fixed;
    top: 11.5em;
    left: 26em;
    z-index: 1000;
}